 .search-header {
  padding: 10px 25px;
    background: #fafafa;
    border-bottom: 1px solid #cacaca;
}
.search-header .logo {
    width: 200px;
    cursor: pointer;
}
.search-header .input {
    width: 35%;
    max-width: 425px;
    display: initial;
}
.search-header .submit {
    margin-top: -5px;
}

.chart-styles {
    width: 450px;
    height: 250px;
    display: inline-block;
    margin: 0 10px;
}

.chart-styles.word-tree {
    width: 900px;
}
