<div class="search-header">
  <img class="logo" src="assets/InfoSearch_Logo.JPG" alt="" ng-click="goToHomePage()">
  <input type="text" class="form-control input" aria-label="Search input" ng-model="searchInput" required>
  <button class="btn btn-primary submit" type="button" ng-click="goToSearchPage()">Search</button>
</div>

<div id="chart_div1" class="chart-styles"></div>
<div id="chart_div2" class="chart-styles"></div>
<div id="chart_div3" class="chart-styles word-tree"></div>
<div id="chart_div4"></div>
<div id="chart_div5"></div>
<div id="chart_div6"></div>
