.search-header {
  padding: 10px 25px;
    background: #fafafa;
    border-bottom: 1px solid #cacaca;
}
.search-header .logo {
    width: 200px;
    cursor: pointer;
}
.search-header .input {
    width: 35%;
    max-width: 425px;
    display: initial;
}
.search-header .submit {
    margin-top: -5px;
}

.content{
	margin:3%;
}


.filter .title {
    font-size: 120%;
    margin-bottom: 5px;
}


 .result {
   
}
.result .username  {
    color: #1a0dab;
    font-size:18px;
    font-weight:450;
    cursor: pointer;
}
.result .target-url {
    color:#006621;
    font-size:14px;
    cursor: pointer;
}


.result .text {
    color:#545454;
    font-size: small;
    margin-bottom: 4%;
}
