<div class="search-header">
	<img class="logo" src="assets/InfoSearch_Logo.JPG" alt="" ng-click="goToHomePage()">
	<input type="text" class="form-control input" aria-label="Search input" ng-model="searchInput" required>
	<button class="btn btn-primary submit" type="button" ng-click="fetchResultsForQuery()">Search</button>
</div>

<div class="content row">
	<div class="col-lg-2">
		
		<div id="accordion" class="filter" ng-class="{'expand': expandFilter}">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Language
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
       <div class="entries">
				<div class="">
					<input class="radio" type="radio" value="en" name="language">
					<label >
						English
					</label>
				</div>
				<div class="">
					<input class="radio" type="radio" value="hi" name="language">
					<label >
						Hindi
					</label>
				</div>
				<div class="">
					<input class="radio" type="radio" value="th" name="language">
					<label >
						Thai
					</label>
				</div>
				<div class="">
					<input class="radio" type="radio" value="fr" name="language">
					<label >
						French
					</label>
				</div>
				<div class="">
					<input class="radio" type="radio" value="es" name="language">
					<label >
						Spanish
					</label>
				</div>
			</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Location
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
       <div class="entries">
				<div class="">
					<input class="radio" type="radio" value="en" name="language">
					<label >
						New York
					</label>
				</div>
				<div class="">
					<input class="radio" type="radio" value="hi" name="language">
					<label >
						Mexico City
					</label>
				</div>
				<div class="">
					<input class="radio" type="radio" value="th" name="language">
					<label >
						Delhi
					</label>
				</div>
				<div class="">
					<input class="radio" type="radio" value="fr" name="language">
					<label >
						Thailand
					</label>
				</div>
				<div class="">
					<input class="radio" type="radio" value="es" name="language">
					<label >
						Bangkok
					</label>
				</div>
			</div>
      </div>					

    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Date
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
       
      </div>
    </div>
  </div><button class="btn btn-primary submit" type="button" ng-click="">Filter</button>
</div>
	</div>
	<div class=" col-lg-5">
		<div class="result" ng-repeat="result in slicedResults track by $index">
			<div class="username" ng-click="gotoUser(result)">@{{result.user_name[0]}}</div>
			<div class="target-url" ng-click="openUrl(result)">https://twitter.com/{{result.user_name[0]}}/status/{{result.tweet_id}}</div>
			<div class="text">
				{{result.text_en}}
				{{result.text_th}}
				{{result.text_hi}}
				{{result.text_es}}
				{{result.text_fr}}
			</div>
		</div>
		<ul ng-if="pager.pages.length" class="pagination">
			<li class="page-item" ng-class="{disabled:pager.currentPage === 1}">
				<a class="page-link" ng-click="setPage(1)">First</a>
			</li>
			<li class="page-item" ng-class="{disabled:pager.currentPage === 1}">
				<a class="page-link" ng-click="setPage(pager.currentPage - 1)">Previous</a>
			</li>
			<li class="page-item" ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
				<a class="page-link" ng-click="setPage(page)">{{page}}</a>
			</li>
			<li class="page-item" ng-class="{disabled:pager.currentPage === pager.totalPages}">
				<a class="page-link" ng-click="setPage(pager.currentPage + 1)">Next</a>
			</li>
			<li class="page-item" ng-class="{disabled:pager.currentPage === pager.totalPages}">
				<a class="page-link" ng-click="setPage(pager.totalPages)">Last</a>
			</li>
		</ul>
	</div>
	<div class="col-lg-5">
		<div class="card">
			<div class=" row card-body">
				<div class="col-lg-5">
					<h5 class="card-title">Analytics</h5>
					<ul class="card-text">
						<li>Patterns</li>
						<li>Trends</li>
						<li>Correlations</li>
					</ul>
					<button class="btn btn-primary submit" type="button" ng-click="showAnalytics()">Show Analysis</button>
				</div>
				<img class="col-lg-7 " src="assets/visualization.png" alt="Card image cap">
			</div>
		</div>
	</div>
</div>
