
    <div class="search-header">
        <img class="logo" src="assets/InfoSearch_Logo.JPG" alt="" ng-click="goToHomePage()">
        <input type="text" class="form-control input" aria-label="Search input" ng-model="searchInput" required>
        <button class="btn btn-primary submit" type="button" ng-click="fetchResultsForQuery()">Search</button>
    </div>
   
    <div class="content row">
	    <div class="col-lg-2">     
	    		<div class="filter" ng-class="{'expand': expandFilter}">
	                <div class="title">Filter #1</div>
	                <div class="entries">
	                    <div class="form-check">
	                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
	                        <label class="form-check-label" for="defaultCheck1">
	                                checkbox
	                        </label>
	                    </div>
	                    <div class="form-check">
	                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
	                        <label class="form-check-label" for="defaultCheck2">
	                                checkbox
	                        </label>
	                    </div>
	                </div>
	            </div>
	            <div class="filter" ng-class="{'expand': expandFilter}">
	                <div class="title">Filter #1</div>
	                <div class="entries">
	                    <div class="form-check">
	                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
	                        <label class="form-check-label" for="defaultCheck1">
	                                checkbox
	                        </label>
	                    </div>
	                    <div class="form-check">
	                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
	                        <label class="form-check-label" for="defaultCheck2">
	                                checkbox
	                        </label>
	                    </div>
	                </div>
	            </div>
	         </div>
	     <div class=" col-lg-5"> 
	    		<div class="result" ng-repeat="result in searchResults track by $index">
	                <div class="username">@{{result.user.screen_name}}</div>
	                <div class="target-url" ng-click="openUrl(result.entities.urls[0].url)">{{result.entities.urls[0].url}}</div>
	                <div class="text">{{result.text}}</div>
	            </div>
	        </div>
     <div class="col-lg-5">     
	     <div class="card" >	  
			  <div class=" row card-body">		 
				  <div class="col-lg-5">			 
					    <h5 class="card-title">Analytics</h5>
					    <ul class="card-text">
					    <li>Patterns</li>
					    <li>Trends</li>
					    <li>Correlations</li></ul>
					 
					     <button class="btn btn-primary submit" type="button" ng-click="showAnalytics()">Show Analysis</button>
					  		    
				     </div>
			      <img class="col-lg-7 " src="assets/visualization.png" alt="Card image cap">
			  </div>
		 </div>
         </div>
    </div>

