<div class="container">
<div class="home-search-container">
    <div class="inner">
        <form>
            <img class="mb-4" src="assets/InfoSearch_Logo.JPG" alt="">
            <div class="form-group">
                <input type="text" class="form-control" aria-label="Search input" ng-model="searchInput" placeholder="Search Tweets" required>
            </div>
            <div class="submit-button">
                <button class="btn btn-lg btn-primary" type="submit" ng-click="goToSearchPage()">Search</button>
            </div>
        </form>
    </div>
    
</div>
</div>

<footer class="page-footer">&copy; 2018 InfoSearch | CSE-535</footer>